<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.springbootproject.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.springboot.springbootproject.entity.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_Type" jdbcType="INTEGER" property="userType" />
    <result column="weicar" jdbcType="VARCHAR" property="weicar" />
    <result column="QQ" jdbcType="VARCHAR" property="qq" />
    <result column="login_Date" jdbcType="TIMESTAMP" property="loginDate" />
    <result column="phoneCode" jdbcType="VARCHAR" property="phonecode" />
    <result column="rigDateTime" jdbcType="TIMESTAMP" property="rigdatetime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="passWord" jdbcType="VARCHAR" property="password" />
    <result column="login_Name" jdbcType="VARCHAR" property="loginName" />
    <result column="user_Name" jdbcType="VARCHAR" property="userName" />
    <result column="lock_type" jdbcType="INTEGER" property="lockType" />
  </resultMap>
  <sql id="Base_Column_List">

    id, user_Type, weicar, QQ, login_Date, phoneCode, rigDateTime, remark, passWord, 
    login_Name, user_Name, lock_type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from wuwu_user
    where id = #{ids}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    delete from wuwu_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.springboot.springbootproject.entity.User">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into wuwu_user (id, user_Type, weicar, 
      QQ, login_Date, phoneCode, 
      rigDateTime, remark, passWord, 
      login_Name, user_Name, lock_type
      )
    values (#{id,jdbcType=INTEGER}, #{userType,jdbcType=INTEGER}, #{weicar,jdbcType=VARCHAR}, 
      #{qq,jdbcType=VARCHAR}, #{loginDate,jdbcType=TIMESTAMP}, #{phonecode,jdbcType=VARCHAR}, 
      #{rigdatetime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{loginName,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{lockType,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.springboot.springbootproject.entity.User">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into wuwu_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userType != null">
        user_Type,
      </if>
      <if test="weicar != null">
        weicar,
      </if>
      <if test="qq != null">
        QQ,
      </if>
      <if test="loginDate != null">
        login_Date,
      </if>
      <if test="phonecode != null">
        phoneCode,
      </if>
      <if test="rigdatetime != null">
        rigDateTime,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="password != null">
        passWord,
      </if>
      <if test="loginName != null">
        login_Name,
      </if>
      <if test="userName != null">
        user_Name,
      </if>
      <if test="lockType != null">
        lock_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userType != null">
        #{userType,jdbcType=INTEGER},
      </if>
      <if test="weicar != null">
        #{weicar,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="loginDate != null">
        #{loginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="phonecode != null">
        #{phonecode,jdbcType=VARCHAR},
      </if>
      <if test="rigdatetime != null">
        #{rigdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null">
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="lockType != null">
        #{lockType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.springboot.springbootproject.entity.User">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update wuwu_user
    <set>
      <if test="userType != null">
        user_Type = #{userType,jdbcType=INTEGER},
      </if>
      <if test="weicar != null">
        weicar = #{weicar,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        QQ = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="loginDate != null">
        login_Date = #{loginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="phonecode != null">
        phoneCode = #{phonecode,jdbcType=VARCHAR},
      </if>
      <if test="rigdatetime != null">
        rigDateTime = #{rigdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        passWord = #{password,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null">
        login_Name = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        user_Name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="lockType != null">
        lock_type = #{lockType,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.springboot.springbootproject.entity.User">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update wuwu_user
    set user_Type = #{userType,jdbcType=INTEGER},
      weicar = #{weicar,jdbcType=VARCHAR},
      QQ = #{qq,jdbcType=VARCHAR},
      login_Date = #{loginDate,jdbcType=TIMESTAMP},
      phoneCode = #{phonecode,jdbcType=VARCHAR},
      rigDateTime = #{rigdatetime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      passWord = #{password,jdbcType=VARCHAR},
      login_Name = #{loginName,jdbcType=VARCHAR},
      user_Name = #{userName,jdbcType=VARCHAR},
      lock_type = #{lockType,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>